*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #8d8d8d;
}
.card{
    height: 344px;
    width: 198px;
    background: white;
    margin: 20px;
    border-radius: 8px;
}
.image{
    padding: 5px;
}
img{
    width: 188px;
    border-radius: 8px;
}
.content p{
    font-size: 13px;
    color: #474242;;
}
.content{
    padding: 7px 13px;
}
.content h2{
    font-size: 24px;
    margin-bottom: 8px;
}
.capsules{
    padding: 0 34px 0 12px;
}

.capsules span{
    border: 1px solid rgb(102, 102, 102);
    padding: 4px;
    border-radius: 7px;
    font-size: 10px;
    font-size: 8px;
    font-family: sans-serif;
}
button{
    border: none;
    padding: 5px 10px;
    font-size: 10px;
    background: rgb(33, 207, 230);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 8px;
    color: #474242;
}